.App {
  text-align: left;
  padding-top: 30px;
  padding-bottom: 30px;
}

.container {
  margin-top: 30px;
  margin-top: 20px;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;

  text-align: center;
  cursor: pointer;
  width: 100%;
}

.in-article-image-container img {
  max-height: 350px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

img {
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}

.btn {
  margin-left: 30px;
}
