.App {
  text-align: left;
  padding-top: 20px;
  padding-bottom: 10px;
}

.container {
  margin-top: 10px;
  margin-bottom: 5px;
}

.title {
  color: grey;
  font-size: 18px;
}

/*button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;

  text-align: center;
  cursor: pointer;
  width: 100%;
}
*/

li,
ul {
  list-style: none;
  list-style-position: inside;
  padding: 0;
  margin: 0px;
}
